* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    color: #0d0d0d;
}

.header {
    padding: 50px;
    text-align: center;
    background: #808080;
    color: #f2f2f2;
}

.header h1 {
    font-size: 300%;
}

.horizontal-nav-bar {
    overflow: hidden;
    background-color: #666666;
}

.horizontal-nav-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    padding: 14px 20px;
}

.horizontal-nav-bar a.right {
    float: right;
}

.horizontal-nav-bar a:hover {
    background-color: #8c8c8c;
    color: #0d0d0d;
}

.main-content {
    padding: 5%;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #808080;
    color: #f2f2f2;
}

@media screen and (max-width: 600px) {
    .header {
        padding: 0;
        text-align: center;
        background: #808080;
        color: #f2f2f2;
    }

    .header h1 {
        font-size: 150%;
    }
    
    .horizontal-nav-bar a.right, .horizontal-nav-bar a {
        float: none;
    }

    .horizontal-nav-bar a {
        padding: 0;
    }

    .footer {
        padding: 0;
    }
}